body {
    background-image: url(https://media.giphy.com/media/l46CdoZqbJxQMOvjW/giphy.gif);
        text-align: center;
        background-attachment: fixed;
        background-position: center;
        color: black;
        font-family: arial black;
        font-size: x-large;
      
}






